*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

/* **************************** navbar ***************************** */

nav{
    z-index: 100;
    /* border: 2px solid red; */
    position: sticky;
    top: 0px;
    left: 0px;
}

#navbar{
    /* border: 2px solid red; */
    background-color: white;
    padding: 5px 10px;
    box-shadow: 1px 1px 10px rgb(117, 114, 114);
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#navbar ul{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}


#navbar ul li{
    list-style: none;
    margin-left: 20px;
    padding: 3px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    /* color: white; */
    padding: 8px 8px;
    border-radius: 2px;
}

#dropdown{
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 2px;
}

#dropdown hr{
    margin-bottom: 5px;
}

#brand{
    /* width: 280px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px !important;
    margin-right: 50px;
}

#brand img{
    width: 50px;
    border-radius: 100px;
}

#navbar ul li:hover{
    cursor: pointer;
    /* font-size: 2rem; */
    color: black;
    background-color: white;
}

#call, #direction{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

#call img, #direction img{
    width: 30px;
}

#call span, #direction span{
    /* border: 2px solid black; */
    margin-left: 5px;
    padding: 8px 8px;
}

#call span:hover, #direction span:hover{
    background-color: rgb(3, 109, 109);
    color: white;
}

@media screen and (max-width: 753px) {
    #brand{
        margin-right: 15px;
    }
}

@media screen and (max-width: 600px) {
    #navbar ul{
        display: none;
    }
    #dropdown{
        display: flex;
        /* border: 2px solid red; */
    }
}
/* ******************************  sidebar ************************ */

#sidebar{
    display: none;
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    background-color: white;
    box-shadow:  1px 10px rgb(117, 114, 114);
}
.side_comp{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 8px 8px;
}
.side_comp img{
    width: 30px;
    border-radius: 100px;
}
.side_comp span{
    margin-left: 5px;
}

.side_comp:hover{
    cursor: pointer;
    background-color: rgb(9, 110, 110);
    color: white;
}

/* ******************************************* intro ************************************** */

#intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid red; */
    padding: 40px 10px;
    /* background-color: rgb(255, 248, 255); */
}

#box1{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    padding: 50px 20px;
}

#box1 p:nth-child(1){
    font-size: 2rem;
    padding-bottom: 20px;
}

#box1 p:nth-child(2){
    font-size: 1.2rem;
}

#intro img{
    width: 40vw; 
} 

@media screen and (max-width : 799px) {
    #box1{
        padding: 10px 0px;
        align-items: center;
        width: 100vw;
    }
    #box1 p:nth-child(1){
        font-size: 1.3rem;
        padding-bottom: 20px;
    }
    
    #box1 p:nth-child(2){
        font-size: 1rem;
        text-align: center;
        padding-bottom: 20px;
    }

    #intro img{
        width: 80vw;
    }
}

/* ******************************* our clients ****************************** */

#clients{
    /* border: 2px solid red; */
    padding: 40px 0px;
    background-color: rgb(249, 252, 255);
}

#clients p{
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 50px;
}

#companies{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#companies div{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

#companies div:hover{
    background-color: white;
    box-shadow: 1px 1px 10px 1px black;
}

#companies div img{
    width: 60%;
}

@media screen and (max-width: 999px) {
    #companies div{
        width: 200px;
        height: 100px;
    }
    #companies div img{
        width: 70%;
    }
    #clients{
        padding: 40px 0px;
    }
}

@media screen and (max-width: 450px) {
    #companies div{
        width: 150px;
    }
}


/* ************************************ contact Us ********************************* */

#Contact_page{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: rgb(253, 251, 247);
    justify-content: center;
}

#demo{
    /* border: 2px solid black; */
    width: 50%;
    padding: 40px 10px;
}

#demo p{
    padding: 5px 10px;
}

#p1{
    font-size: 1.3rem;
}

#number{
    display: flex;
    align-items: center;
}

#number img{
    width: 50px;
    padding: 2px 2px;
}

#form_box{
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form_container{
    /* border: 2px solid black; */
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 1px black;
    padding-bottom: 30px;
    background-color: white;
}

input:focus, textarea:focus{
    outline: none;
}

#form_container form{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form_container p{
    font-size: 1.5rem;
    margin: 30px 0px;
}

#form_container form input{
    width: 80%;
    height: 35px;
    margin: 7px 0px;
    padding: 2px 2px;
}

#form_container form textarea{
    width: 80%;
    padding: 2px 2px;
    margin: 5px 0px;
    height: 50px;
}

#form_container form button{
    width: 40%;
    height: 30px;
    margin: 20px 0px;
    border: none;
    background-color: rgb(139, 116, 13);
    color: white;
}

#form_container form button:hover{
    cursor: pointer;
}

@media screen and (max-width: 886px) {
    #Contact_page{
        padding: 30px 10px;
    }
    #form_container{
        width: 100%;
    }
    #demo{
        width: 40%;
    }
    #from_box{
        width: 60%;
    }
}

@media screen and (max-width: 620px) {
    #demo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #demo p{
        margin: 4px 0px;
    }
    #form_box{
        width: 100%;
    }
    #form_container{
        width: 320px;
    }
}


/* ************************************ details ************************************** */

.details{
    padding: 30px;
    background-color: rgb(253, 251, 247);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#map{
    /* border: 2px solid blue; */
    width: 55%;
}

#map iframe{
    width: 100%;
}

#timings{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    flex-direction: column;
}

#timings p{
    /* border: 2px solid red; */
    padding: 20px 0px;
    font-size: 2rem;
}

#timings table tr{
    /* margin-bottom: 4px; */
    height: 40px;
}

#timings table tr td{
    width: 150px;
}

@media screen and (max-width: 796px) {
    .details{
        justify-content: center;
    }
    #map{
        width: 100%;
    }
    #timings{
        width: 100%;
    }
}
